[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-ruby-debugger"]
	path = bundle/vim-ruby-debugger
	url = git://github.com/astashov/vim-ruby-debugger.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
